.content {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: calc(5% + 50px);
    left: 0;
}

.head {
    position: absolute;
    top: 5%;
    height: 50px;
    left: calc(50% - 160px);
    display: inline-flex;
    width: 320px;
    margin-bottom: 30px;
}

.head p {
    margin-top: 10px;
    font-size: 30px;
}

.score {
    position: absolute;
    top: 5%;
    right: 0;
    height: 50px;
    color: #addfad;
}

input {
    padding-left: 30px;
    border: 0;
    outline: none;
    font-size: 30px;
    width: 35px;
    margin-top: 10px;
    color: #dff3ff;
}
