.container {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    position: absolute;
    margin-top: 150px;
    align-items: center;
    margin-left: calc(50% - 300px);
}

.content {
    display: flex;
}

.header {
    position: absolute;
    top: 100px;
    width: 600px;
    left: calc(50% - 300px);
}

.header p{ 
    font-size: 30px;
    margin: 0;
    padding-left: 20px;
}