html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 1px solid #bbb;
    position: absolute;
    top: calc(5% + 50px);
    left: calc(50% - 160px);
}

.head {
    position: absolute;
    top: 5%;
    height: 50px;
    left: calc(50% - 160px);
    display: inline-flex;
    width: 320px;
}

.head p {
    margin-top: 10px;
    font-size: 30px;
}

.score {
    position: absolute;
    top: 5%;
    right: 0;
    height: 50px;
    color: #addfad;
}